target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### 微服务敏感配置文件 ###
# 忽略所有模块的 application.yml（含数据库密码等敏感信息）
# 请使用 application-template.yml 作为模板，复制为 application.yml 后修改本地配置
**/src/main/resources/application.yml
# 不忽略模板文件（提交到 Git 供团队参考）
!**/src/main/resources/application-template.yml